In [66]:
import os
import requests
import pandas as pd
from tqdm import tqdm

df = pd.read_csv('imgs.csv')
df = df[df['img_link'] != '/static/img/blank.gif']
df.head()

,img_link,tags,likes,stars,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,NaN,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,NaN,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,NaN,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,NaN,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,NaN,15

In [67]:
# df = df.head(10000)

ids   = []
paths = []
links = []

i = 0

In [111]:
for link in tqdm(df['img_link'][len(os.listdir('Imgs')):]):
    
    if (i == (len(os.listdir('Imgs')))):
        
        id_ = i + 100000000
        id_ = 'A' + str(id_)[1:]
        i += 1

        path = 'Imgs/' + id_ + '.jpg'

        response = requests.get(link)

        file = open(path, "wb")
        file.write(response.content)
        file.close()

        ids.append(id_)
        paths.append(path)
        links.append(link)
        
    else:
        break

100%|█████████████████████████████████████| 8082/8082 [1:41:15<00:00,  1.33it/s]

In [115]:
df['path']    = paths
df['img_id']  = ids

In [116]:
df.head()

,img_link,tags,likes,stars,comments,path,img_id
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,NaN,55,Imgs/A00000000.jpg,A00000000
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,NaN,20,Imgs/A00000001.jpg,A00000001
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,NaN,106,Imgs/A00000002.jpg,A00000002
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,NaN,11,Imgs/A00000003.jpg,A00000003
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,NaN,15,Imgs/A00000004.jpg,A00000004

In [117]:
df.isnull().sum()

img_link         0
tags             2
likes            0
stars       205868
comments         0
path             0
img_id           0
dtype: int64

In [118]:
del df['stars']

In [119]:
df.isnull().sum()

img_link    0
tags        2
likes       0
comments    0
path        0
img_id      0
dtype: int64

In [120]:
df = df.dropna()

In [121]:
df.isnull().sum()

img_link    0
tags        0
likes       0
comments    0
path        0
img_id      0
dtype: int64

In [122]:
df.to_csv('final.csv', index = False)